/* container for nav bar */
.container{
    width: 90%;
    margin: 0 auto;
}

/* Nav bar color */
header{
    background: #d4d7c4;
    border-radius: 9px;
}

/* float fix for nav bar */
.fixfloat ::after{
    content: '';
    display: table;
    clear: both;
}

/* floats navigation to the right */
nav{
    float: right;
}

/* Styles nav ul */
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Positions nav li */
nav li{
    display: inline-block;
    margin-left: 55px;
    padding-top: 10px;
    padding-bottom: 10px;

    position: relative;
}

/* styles nav links */
nav a{
    color: #868f74;
    text-decoration: none;
    font-family: 'Handlee', cursive;
    /*text-transform: uppercase;*/
    font-weight: 600;
    font-size: 18px;
}

/* Gives nav links darker color when hovering over */
nav a:hover{
    color: #79816a;
}

/* Styles bar animation over nav links */
nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #868f74;

    position: absolute;
    top: 0;
    width: 0;

    transition: all ease-in-out 250ms;
}

/* Shows bar animation when hovering over nav links*/
nav a:hover::before{
    width: 100%;
}


/* Posiitons nav dropdrowns */
.dropdown {
    position: relative;
}

/* Positions nav dropdown links */
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

/* Displays a block for dropdown content when dropdown link
is hovered over */
.dropdown:hover .dropdown-content {
    display: block;
}
  
/* Style the button that triggers the dropdown */
.dropbtn {
    font-size: 17px;
    color: #868f74;
    text-decoration: none;
    display: block;

    padding-top: 15px;
    padding-bottom: 15px;

    position: relative;
}
  
/* Styles dropdown links */
.dropdown-content a {
    font-size: 17px;
    color: #868f74;
    background-color: #d4d7c4bb;
    text-decoration: none;
    display: block;

    padding-top: 10px;
    padding-bottom: 10px;

    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;

    position: relative;
}

/* Changes the background color of dropdown links when 
hovered over */
.dropdown-content a:hover {
    background-color: #f1f1f1f2;
}

/* Styles bar animation over nav dropdown links */
nav .dropdown-content a::before{
    content: '';
    display: block;
    height: 5px;
    width: 75%;
    background-color: #868f74;

    position: absolute;
    top: 0;
    width: 0;

    transition: all ease-in-out 250ms;
} 

/* Shows bar animation when hovering over nav dropdown links*/
nav .dropdown-content a:hover::before{
    width: 75%;
}
  


head{
    background: #f6f9fa;
}

body{
    background: #f6f9fa;
}

/* Styles headers 1 */
h1 {
    font-family: 'Marck Script', cursive;
    text-align: center;
    font-size: 46px;
    color: #8496a2;
}

/* Styles headers 3 */
h3 {
    font-family: 'Marck Script', cursive;
    font-size: 24px;
    text-align: center;
}

/* Styles paragraphs in general */
p {
    font-family: 'Handlee', cursive;
    text-align: center;
    font-size: 18px;
}

/* Styles all buttons */
button {
    font-family: 'Handlee', cursive;
    font-weight: 600;
    font-style: italic;
    color: #8496a2;
}

/* Styles all Inputs */
input {
    font-family: 'Handlee', cursive;
    font-size: 14px;
}



/* Centers button for class information page */
.classinfo {
    text-align: center;
}

/* Sizes font for Class Info button */
.classinfo button {
    font-size: 15px;
}

/* Styles class information content */
.printed-classinfo {
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    color: #71808ac3;
}


/* Centers the input & button for Names page */
.name-input {
    text-align: center;
}

/* Centers button for color page */
.colors-button {
    text-align: center;
}



/* Positions the input for Math Loop page */
.mathloopinput {
    text-align: center;
}

/* Positions buttons & paragraph for Game page */
.Randopara-buttons {
    text-align: center;
}

/* Positions content for Basic Math Page */
.math-content {
    text-align: center;
}



/* Displays the grid for the calculators
on the Math Calculator page */
.group-calculators {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

/* Styles the paragraphs for the Math
Calculator */
.math-calculator p {
    font-size: 16px;
}

/* Styles the inputs for the Math 
Calculator */
.calinputs {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Styles the labels for the Math Calculator
inputs */
.calinputs p {
    font-weight: 600;
    font-style: italic;
    font-size: 14px;
}

/* Styles the buttons for the Math Calculator */
.calbuttons {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


/* Centers text for button calculator */
.button-calculator {
    text-align: center;
}

/* Styles the button Calculator */
.calculator {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    font-size: 18px;
}

/* Places the button calculator to the right */
.calrows {
    grid-column-start: 2;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 3px;

    background: #dde0cc;
    border-radius: 16px;
    padding: 8px;
}

/* Styles the inputs for the button calculator buttons */
.calrows input {
    background: #b3c1b7da;
    border: 1px solid #fffdf6;
    border-radius: 16px;
    color: #6c745f;
}

/* Creates grid for row 1 of sci. calculator*/
.cal-row1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 3px;
}

/* Styles input to span 1 through 4 of the 
5 spaces in the grid */
.cal-row1 #calResults {
    grid-column-start: 1;
    grid-column-end: 5;
}

/* Creates grid for row 2 of sci. calculator*/
.cal-row2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 3px;
}

/* Creates grid for row 3 of sci. calculator*/
.cal-row3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 3px;
}

/* Creates grid for row 4 of sci. calculator*/
.cal-row4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 3px;
}

/* Creates grid for row 5 of sci. calculator*/
.cal-row5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 3px;
}

/* Creates grid for row 6 of sci. calculator*/
.cal-row6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 3px;
}

/* Creates grid for row 7 of sci. calculator*/
.cal-row7 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 3px;
}



.contact-inputs {
    text-align: center;
}

.phone-input {
    text-align: center;
}

.email-input {
    text-align: center;
}